body{
    font-family: 'Cabin', sans-serif;
    background-color: #B4DEFA;
  }
header{
    display: flex;
    background-color: #FF890A;
    padding: 1.11em;


}

main {
    background-color: #0994F1;
}
h1 {

    font-size: 3.5rem;
    font-weight: 700;
    color: black;
    text-align: center;
    margin-bottom: 1rem;
    padding: 0;
    white-space: nowrap;
    border-bottom: 0.3rem solid #6AC4FF;
}
h2 {
    font-size: 1.5rem;
    font-weight: 700;
    color: black;
    text-align: center;
    margin-bottom: 0.5rem;
    padding: 0;
    white-space: nowrap;
}

.box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0.4rem;
    padding: 1rem;
    border: 0.1rem solid black;
    border-radius: 0.3rem;
    width: 4rem;
    height: 2rem;
    background-color: #F7C894;
}
ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 1rem;
}
footer {

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 3rem auto;
    padding: 1rem auto;
    border-top: 0.3rem solid #6AC4FF;
    padding-top: 2rem auto;
    padding: 5rem auto;
    gap : 4rem;
    font-size: 1.2rem;
}

a {
    text-decoration: none;
    color: inherit;
}