body{
  font-family: 'Cabin', sans-serif;
  background-color: #B4DEFA;
}
  header {
    background-color: #FF890A;
    color: #fff;
    text-align: center;
    padding: 2.5em;
  
  }
  
  h1 {
    font-size: 2rem;
    margin: 0;
  }
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #0994F1;
}
ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 4rem;
}
li{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0.6rem;
    padding: 1rem;
    border: 0.1rem solid black;
    border-radius: 0.3rem;
    width: 14rem;
    height: 2rem;
    background-color: #F7C894;
    
}
footer {

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 7rem auto;
    padding: 1rem auto;
    border-top: 0.3rem solid #6AC4FF;
    padding-top: 2rem auto;
    padding: 5rem auto;
    gap : 4rem;
    font-size: 1.2rem;
    font-size: 3rem;
}

a {
  text-decoration: none;
  color: inherit;
}